<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="publickey" value=""/>
    <add key="secretkey" value=""/>
    <add key="coin" value="IGNIS"/>
    <add key="pollingMs" value="5000"/>

  </appSettings>
</configuration>